<div class="mt-5 col-10 mx-auto" style="width: 100%;">
  <h1>マイブック</h1>

  <table class="table table-bordered myword-table">
    <thead >
      <tr>
        <th>本の表紙</th>
        <th>本のタイトル</th>
      </tr>
    </thead>
    <tbody>
      <% @user_books.each do |book| %>
      <tr>
        <td>
          <%= attachment_image_tag book, :cover_img, size: '150x200' %>
        </td>
        <td> <%= book.book_title %> </td>
        <td>
          <%= link_to edit_book_path(book) do %>
          <button type="button" class="btn btn-primary">本を編集</button>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>

    <%= link_to new_book_path do %>
    <button type="button" class="btn btn-success btn-lg btn-block">新しく本を追加する</button>

    <% end %>
  </div>