<script type="text/javascript">
  function clipboardCopy() {
    var textarea = document.createElement("textarea");
    var SelStr = document.getSelection();
    textarea.value = SelStr;
    document.body.appendChild(textarea);
    textarea.select();
    document.execCommand("copy");
    alert("「" + textarea.value + "」のコピーが完了しました！");
    textarea.parentElement.removeChild(textarea);
  }

  //マイワードに追加
  function add_mywords(){
    var SelStr = document.getSelection();

    $.ajax({
      url: "/mywords/create",
      type: "GET",//本当はPOSTが正しいがPOSTだとエラーが出てしまうためGETにしている
      data: {selected : String(SelStr), book_id : gon.book_id},
      datatype: "html",
      success: function(data){
        //成功時の処理
        alert("「" + String(SelStr) + "」をマイワードに追加しました");
      },
      error: function(data){
        //失敗時の処理
        alert("マイワードに追加できませんでした");
      }
    });
  }

  function progress_bar_hidden_visible(){
    var pb = document.getElementById("page-counter");
    if(pb.style.visibility=="visible"){
      //非表示
      pb.style.visibility ="hidden";
      $('#visible-hidden').html("<div class='item-icon' id='visible-hidden'><i class='fa fa-eye fa-3x' aria-hidden='true'></i></div>");
    }else{
      //表示
      pb.style.visibility ="visible";
      $('#visible-hidden').html("<div class='item-icon' id='visible-hidden'><i class='fa fa-eye-slash fa-3x' aria-hidden='true'></i></div>");
    }
  }

  //ページが表示されたときに呼ばれているjacvascript
  (function(){
    //矢印キーで本をめくれるようにした連続で押しすぎると予期しない挙動になってしまう。（最後のページの時の挙動が書かれていない）
    $('html').keydown(function(e){
      switch(e.which){
        case 39: // Key[→]
        console.log("右")
        if (gon.total_page == gon.current_page) {
          document.getElementById("next_episode").click();
        } else {
          document.getElementById("next_page").click();
        }
        break;

        case 37: // Key[←]
        console.log("左")
        if (gon.user_episode_progress == 0) {
          if (gon.book_id == gon.compared_book_id && gon.episode_id != 1) {
            document.getElementById("previous_episode").click();
          }
        } else {
          document.getElementById("previous_page").click();
        }
        break;
      }
    });

    //// 右クリックのメニューを変更するためのjavascript
    //無効化した右クリックのイベントをここで上書きして表示できるようにしている
    document.body.addEventListener('contextmenu',function(e){//eは右クリックした時の位置情報をとっている
      var SelStr = document.getSelection();//文字列を取得

      //選択した文字列があるかどうかでclassにshowを追加するmycontextMenuを変えている
      if ( String(SelStr).length == 0 ) {
        //getElementByIdは、任意のHTMLタグで指定したIDにマッチするドキュメント要素を取得するメソッド
        var myContextMenu = document.getElementById('unselected');

        //文字列があるときに右クリック→文字列を選択しないで右クリックしても文字列があるときの右クリックメニューを削除して両方のメニューが同時に出ないようにしている
        var myContextMenu_selected = document.getElementById('selected');
        myContextMenu_selected.classList.remove('show');
      }else{
        var myContextMenu = document.getElementById('selected');
        
        //選択している文字列がないときに右クリック→右クリックしても文字列がないときの右クリックメニューを削除して両方のメニューが同時に出ないようにしている
        var myContextMenu_unselected = document.getElementById('unselected');
        myContextMenu_unselected.classList.remove('show');
      }
      var posX = e.pageX;
      var posY = e.pageY;

      myContextMenu.style.left = posX+'px';
      myContextMenu.style.top = posY+'px';
      myContextMenu.classList.add('show');

    });

    //左クリックを押したときに右クリックメニューが消えるようにしている
    document.body.addEventListener('click',function(){
      var myContextMenu_unselected = document.getElementById('unselected');
      var myContextMenu_selected = document.getElementById('selected');
      // //文字列が選択されていない時の右クリックメニューの非表示
      myContextMenu_unselected.classList.remove('show');
      // //文字列が選択されている時の右クリックメニューの非表示
      myContextMenu_selected.classList.remove('show');
    })
  }());

  //modal
  $(function(){

  //辞書をクリックしたら
  $("#modal-dictionary-open").click(function(){
    var SelStr = document.getSelection();
    //辞書URL作成
    document.getElementById("modal-dictionary").src="https://dictionary.goo.ne.jp/srch/all/" + String(SelStr) + "/m0u/";
      //body内の最後に<div id="modal-bg"></div>を挿入
      $("body").append('<div id="modal-bg"></div>');
    //画面中央を計算する関数を実行
    modalResize();

    //ajax通信で辞書検索の履歴を作る
    var SelStr = document.getSelection();

    $.ajax({
      url: "/dictionary_records/create",
      type: "GET",//本当はPOSTが正しいがPOSTだとエラーが出てしまうためGETにしている
      data: {selected : String(SelStr), book_id : gon.book_id ,episode_id : gon.episode_id},
      datatype: "html",
      success: function(data){
        //成功時の処理
        console.log("「" + String(SelStr) + "」を辞書辞書履歴に追加しました");
      },
      error: function(data){
        //失敗時の処理
        console.log("辞書履歴に追加できませんでした");
      }
    });

    //モーダルウィンドウを表示
    $("#modal-bg,#modal-dictionary").fadeIn("slow");

    //画面のどこかをクリックしたらモーダルを閉じる
    $("#modal-bg,#modal-dictionary").click(function(){
      $("#modal-dictionary,#modal-bg").fadeOut("slow",function(){
         //挿入した<div id="modal-bg"></div>を削除
         $('#modal-bg').remove() ;
       });

    });

    //画面の左上からmodal-dictionaryの横幅・高さを引き、その値を2で割ると画面中央の位置が計算できます
    $(window).resize(modalResize);
    function modalResize(){
      var w = $(window).width();
      var h = $(window).height();

      var cw = $("#modal-dictionary").outerWidth();
      var ch = $("#modal-dictionary").outerHeight();

        //取得した値をcssに追加する
        $("#modal-dictionary").css({
          "left": ((w - cw)/2) + "px",
          "top": ((h - ch)/2) + "px"
        });
      }
    });

});
</script>

</body>
</html>