<div class="mt-5 col-10 mx-auto" style="width: 100%;">
  <p><%= @book.book_title %>ーーー <%= @episode.epi_title %></p>
  <!-- 本 -->
  <div class="mt-5 col-6 mx-auto">
    <div class="upright">
      <%= @scanedbody[1] %>
    </div>
  </div>
  <!-- サイドバー -->
  <div class="mt-5 col-4 mx-auto"></div>

</div>