<div class="mt-5 col-10 mx-auto" style="width: 100%;">
  <h1>検索ページ</h1>
  <select name="name" id="name">
    <option value="who">--- 検索対象を選んでください ---</option>
    <option value="太郎">本</option>
    <option value="二郎">著者</option>
  </select>
</div>