<!DOCTYPE html>
<html>
<head>
  <title>LIBRE</title>
  <%= csrf_meta_tags %>

  <!-- gonを使うための記述 -->
  <%= include_gon %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <%= yield %>
</body>
</html>
